@import "custom_bootstrap_vars";
// @import "bootstrap";

@tailwind base;

@tailwind components;

@tailwind utilities;

// project specific CSS goes here

////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.form {
  label {
    display: inline-block;
    // margin-bottom: 0;
    & + input[type="checkbox"] {
      margin: 0.3em;
      float: left;
    }
  }
}

.custom-form {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4;

  button, input[type=submit] {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
    &:hover {
      @apply bg-blue-700;
    }
    &:focus {
      @apply outline-none;
      @apply shadow-outline;
    }
  }
  &.sign-in {
    .forgot-password {
      @apply inline-block align-baseline font-bold text-sm text-blue-500;
      &:hover {
        @apply text-blue-800;
      }
    }
  }
}


.alert {
  @apply flex items-center mb-4 bg-blue-500 text-white text-sm font-bold px-4 py-3;
  .icon {
    @apply fill-current w-4 h-4 mr-2;
  }
}


.form-center-wrapper {
  @apply w-full max-w-sm m-auto;
}
