{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}


{% comment %}

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
{% endcomment %}

<div class="form-center-wrapper">
    <form class="custom-form" method="POST" action="{% url 'account_signup' %}">
        <div class="text-center mb-4">
            <h1 class="mb-4">{% trans "Sign Up" %}</h1>
            <p>
                {% blocktrans %}
                Already have an account?<br />
                Then please <a class="text-green-400" href="{{ login_url }}">sign in</a>.
                {% endblocktrans %}
            </p>
        </div>
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="" type="submit">
            {% trans "Sign Up" %} &raquo;
        </button>
    </form>
</div>


{% endblock %}
